.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/src
server/**
server/iris-ls
server/iris-ls.exe
target
!target/release/iris-ls
!target/release/iris-ls.exe
/scripts